<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">

	<p:panelMenu>

		<p:submenu label="Hospital">
			<p:menuitem value="Home" icon="fa fa-hospital-o"
				url="/patient/patient-view-all-hospital.xhtml" />
		</p:submenu>

		<p:submenu label="Doctor">
			<p:menuitem value="Home" icon="fa fa-user-md"
				url="/doctor/doctor-profile-about.xhtml" />
		</p:submenu>

		<p:submenu label="Patient">
			<p:menuitem value="Profile" icon="fa fa-user"
				url="/patient/patient-profile.xhtml" />

		</p:submenu>

	</p:panelMenu>

</ui:composition>