<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags">


	<div>
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12 ui-lg-12">

				<center>#{prompts.header}</center>

				<div style="right: 0; top: 0; position: absolute">
					<a href="${request.contextPath}/j_spring_security_logout"> <img
						src="${request.contextPath}/images/user.jpg" width="50px"
						height="50px" style="border-radius: 50%" title="Logout" />
					</a>
				</div>



				<h:form id="header_action">

					<h:outputLabel rendered="#{applicationUtilsMB.userRoleStudent}">
						<img src="#{usersController.userDetailsDTO.logoWithBase64}"
							height="45" width="45"
							style="border-radius: 100px; background-color: white; margin-top: -0.5%; margin-left: 0.5%; margin-bottom: -3%; float: left" />
					</h:outputLabel>

					<p:outputLabel
						style="float: left; margin-top:0.4%; margin-left:0.5%;
								text-align: center;
								text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
								color: #113300;
								opacity: 0.4;
								font: 25px 'Bitter';"
						rendered="#{applicationUtilsMB.userRoleStudent}"
						value="#{usersController.userDetailsDTO.student.studentName}" />

					<h:outputLabel rendered="#{applicationUtilsMB.userRoleInstitute}">
						<img
							src="#{instituteInfoController.viewInstituteInfo.logoWithBase64}"
							height="45" width="45"
							style="border-radius: 100px; background-color: white; margin-top: -0.5%; margin-left: 0.5%; margin-bottom: -3%; float: left" />
					</h:outputLabel>
					<p:outputLabel
						style="float: left; margin-top:0.4%; margin-left:0.5%;
								text-align: center;
								text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
								color: #113300;
								opacity: 0.4;
								font: 25px 'Bitter';"
						rendered="#{applicationUtilsMB.userRoleInstitute}"
						value="#{instituteInfoController.viewInstituteInfo.institute.instituteName}" />

					<h:outputLabel rendered="#{applicationUtilsMB.userRoleTeacher}">
						<img src="#{teacherInfoController.userDetailsDTO.logoWithBase64}"
							height="45" width="45"
							style="border-radius: 100px; background-color: white; margin-top: -0.5%; margin-left: 0.3%; margin-bottom: -3%; float: left" />
					</h:outputLabel>

					<p:outputLabel
						style="float: left;  margin-top:0.4%; margin-left:0.5%;
								text-align: center;
								text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
								color: #113300;
								opacity: 0.4;
								font: 27px 'Bold';"
						rendered="#{applicationUtilsMB.userRoleTeacher}"
						value="#{teacherInfoController.userDetailsDTO.teacher.teacherName}" />



					<center>
						<p:commandButton style="background:none; margin-right:1%;  "
							value="#{teacherInfoController.userDetailsDTO.prepareName}"
							update="header_action" ajax="true"
							action="#{instituteNoticeController.findInstituteNoticeById(3)}"
							rendered="#{applicationUtilsMB.userRoleTeacher}">
							<f:setPropertyActionListener
								value="#{teacherInfoController.userDetailsDTO}"
								target="#{instituteNoticeController.userDetailsDTO}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton style=" margin-right:1%; background:none;"
							value="#{usersController.userDetailsDTO.prepareName}"
							update="header_action" ajax="true"
							action="#{instituteNoticeController.findInstituteNoticeById(2)}"
							rendered="#{applicationUtilsMB.userRoleStudent}">
							<f:setPropertyActionListener
								value="#{usersController.userDetailsDTO}"
								target="#{instituteNoticeController.userDetailsDTO}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton style="background:none; margin-left:-17%;"
							value="#{instituteInfoController.viewInstituteInfo.prepareName}"
							update="header_action" ajax="true"
							action="#{instituteNoticeController.findInstituteNoticeById(1)}"
							rendered="#{applicationUtilsMB.userRoleInstitute}">
						</p:commandButton>

						<p:commandButton style="background:none; margin-right:1%; "
							ajax="true" action="#{studentProblemController.findAllProblems}"
							update="header_action" value="Problem"
							rendered="#{applicationUtilsMB.userRoleStudent}"></p:commandButton>
					</center>
				</h:form>
			</div>
		</div>
	</div>
</ui:composition>