<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">

	<h:form>

		<p:panelMenu>
			<p:submenu label="Easyway"
				rendered="#{applicationUtilsMB.userRoleAsAdmin}">
				<p:menuitem value="Add address" url="/admin/add-address.xhtml"
					icon="fa fa-plus" />

				<p:menuitem value="View address" icon="fa fa-info"
					action="#{adminController.findAllDistricts}" />

				<p:menuitem value="Role Setting" icon="fa fa-cogs"
					action="#{usersController.allPendingUsers}" />

				<p:menuitem value="GeneralInfo" url="/admin/general-info.xhtml"
					icon="fa fa-plus-square" />

				<p:menuitem value="View GeneralInfo" icon="fa fa-info-circle"
					action="#{adminController.findAllGeneralInfo}" />

			</p:submenu>

			<p:submenu label="Easyway"
				rendered="#{applicationUtilsMB.userRoleInstitute}">
				<p:menuitem value="Teacher Registration" icon="fa fa-plus"
					url="/institute/teacher-registration.xhtml" />
				<p:menuitem value="Teacher Information" icon="fa fa-info-circle"
					url="/institute/teacher-information.xhtml" />
				<p:menuitem value="Group" icon="fa fa-list"
					action="#{instituteNoticeController.findGroupByInstitute(1)}" />
				<p:menuitem value="Notice" icon="fa fa-home"
					action="#{instituteNoticeController.findNoticeByInstituteId}" />
				<p:menuitem value="Institute Profile" icon="fa fa-user"
					action="#{instituteInfoController.findInstituteInfo}" />
			</p:submenu>

			<p:submenu label="Easyway"
				rendered="#{applicationUtilsMB.userRoleTeacher}">
				<p:menuitem value="Add topic" url="/teacher/add-curriculum.xhtml"
					icon="fa fa-folder" />
				<p:menuitem value="Notice" icon="fa fa-bars"
					action="#{teacherInfoController.findNoticeByTeacherId}" />
				<p:menuitem value="Group" icon="fa fa-indent"
					action="#{instituteNoticeController.findGroupByInstitute(2)}" />
				<p:menuitem value="Profile" icon="fa fa-home"
					action="#{teacherInfoController.findTeacherInfos}" />
			</p:submenu>

			<p:submenu label="Easyway"
				rendered="#{applicationUtilsMB.userRoleStudent}">
				<p:menuitem value="Problem" icon="fa fa-list-alt"
					action="#{studentProblemController.findPrbSolutionByStudent}" />

				<p:menuitem value="Group" icon="fa fa-list-ol"
					action="#{studentINoticeController.findInstituteGroup}" />

				<p:menuitem value="Profile" icon="fa fa-home"
					action="#{studentInfoController.findStudentInfos}" />
			</p:submenu>
		</p:panelMenu>

	</h:form>
</ui:composition>