<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Easyway</title>
</h:head>


<h:body>

	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="63" resizable="true"
			closable="true" collapsible="true">
			<ui:include src="header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" size="180" collapsible="true">

			<ui:include src="sideBar.xhtml" />

		</p:layoutUnit>

		<p:layoutUnit position="center">
			<ui:insert name="content" />
		</p:layoutUnit>

	</p:layout>




</h:body>


</html>

