
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Sign Up</title>
</h:head>

<link href="css/style.css" rel='stylesheet' type='text/css' />

<body style="background-image: url('images/loginbg.jpg')">

	<h:form id="signUp">
		<div class="ui-md-8" style="margin-left: 25%">
			<div class="ui-md-8">
				<p:panel
					style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); margin-top:20%">
					<center>
						<h:outputLabel for="console" class="header-text"
							value="Sign up admin" />
						<h:panelGrid columns="1">

							<p:outputLabel value="UserName :" />
							<p:inputText value="#{usersController.signpUpDTO.userName}"
								placeholder="Enter user name ..." style="width:96%"
								required="true" />

							<p:outputLabel value="Password : (Eight or more characters)" />
							<p:password value="#{usersController.signpUpDTO.password}"
								placeholder="Password " style="width:96%" match="hpwd2"
								feedback="true">
							</p:password>

							<p:outputLabel value="Confirm password : " />
							<p:password id="hpwd2"
								value="#{usersController.signpUpDTO.password}"
								placeholder="Confirm password " title="Eight or more characters"
								style="width:96%" />

							<p:outputLabel value="Activation code :" />
							<p:inputText value="#{usersController.signpUpDTO.activationCode}"
								placeholder="" style="width:96%" required="true" />

						</h:panelGrid>
						<p:commandButton action="#{usersController.saveSignedUpAdmins(4)}"
							value="Sign Up" icon="fa fa-sign-in"
							style="margin-right:20px; margin-top:10px;  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);"
							update="signUp" />
					</center>
				</p:panel>


			</div>
		</div>
	</h:form>

</body>

</html>