
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Login</title>
</h:head>

<body style="background-image: url('images/loginbg.jpg')">
	<form action="${request.contextPath}/j_spring_security_check"
		method="post">

		<div class="ui-g">
			<div class="ui-md-4"></div>

			<div class="ui-md-4" style="margin-top: -2%">

				<h1
					style="text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -15px 2px 3px rgba(206, 89, 55, 0.07); font-size: 70px; color: #008015">Easyway.com</h1>

				<p:panel
					style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); margin-top:15%">
					<center>
						<h:panelGrid columns="2" cellpadding="5">
							<h:outputLabel value="User Name" style="color: white" />
							<input name="j_username" type="text" autocomplete="off"
								placeholder=" Email or Number" style="width: 200px" />
							<h:outputLabel value="Password" style="color: white" />
							<input name="j_password" type="password" autocomplete="off"
								placeholder="Enter password" style="width: 200px" />



						</h:panelGrid>
						<div style="float: right;">
							<a href="sign-up.xhtml" style="color: white">Sign Up</a>

						</div>
						<input type="submit" value="Login"
							style="margin-top: 10px; margin-left: 10%" /><br /> <span
							style="color: red"> <c:if
								test="${not empty SPRING_SECURITY_LAST_EXCEPTION}">
			${sessionScope["SPRING_SECURITY_LAST_EXCEPTION"].message}
			</c:if>
						</span>
					</center>

				</p:panel>

			</div>
			<p
				style="margin: 8.5% 0% 0% -2%; float: right; font-size: 30px; color: #CCFFFF; text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);">Make
				your career by Easyway</p>

			

		</div>

	</form>

</body>

</html>