
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Sign Up</title>
</h:head>

<link href="css/style.css" rel='stylesheet' type='text/css' />

<body style="background-image: url('images/loginbg.jpg')">

	<h:form id="signUp">
		<div class="ui-md-8" style="margin-left: 25%">
			<div class="ui-md-8">
				<p:panel rendered="true"
					style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);">
					<h:panelGrid columns="2" cellpadding="5">
						<p:outputLabel for="SignUpFrm" value="Sign Up As : " style="color: white" />
						<p:selectOneRadio id="SignUpFrm"
							value="#{usersController.signUpFrmVisibler}" style="color:white">
							<f:selectItem  itemLabel="Institute" itemValue="1" />
							<f:selectItem itemLabel="Student" itemValue="2" />
							<p:ajax update="signUp"
								listener="#{usersController.provideDynamicSignUpFrmVisibility}" />
						</p:selectOneRadio>
					</h:panelGrid>
				</p:panel>
			</div>

			<div class="ui-md-8">
				<p:panel rendered="#{usersController.instituteSignUpFrmVisibility}"
					style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);">
					<center style="color: white">
						<h:outputLabel for="console" class="header-text" value="Sign up institute" />
						<h:panelGrid columns="1">

							<p:outputLabel value="Institute *" />
							<p:inputText value="#{usersController.signpUpDTO.name}"
								placeholder="Enter institute name ..." style="width:96%"
								required="true" />

							<p:outputLabel value="User name : " />
							<p:inputText value="#{usersController.signpUpDTO.email}"
								placeholder="Email (email which is used)" style="width:96%"
								required="true" />

							<p:outputLabel value="Password : (Eight or more characters)" />
							<p:password value="#{usersController.signpUpDTO.password}"
								placeholder="Password " style="width:96%" match="hpwd2"
								feedback="true">
							</p:password>
							<p:outputLabel value="Confirm password : " />
							<p:password id="hpwd2"
								value="#{usersController.signpUpDTO.password}"
								placeholder="Confirm password " title="Eight or more characters"
								style="width:96%" />

							<p:outputLabel value="Number : " />
							<p:inputText value="#{usersController.signpUpDTO.contactNo}"
								placeholder="Enter number " required="true" style="width:96%" />


							<h:panelGrid columns="2" style="margin-left:-1%">
								<p:selectOneMenu id="division" style="float:left"
									required="true" value="#{usersController.divisionId}"
									layout="responsive">
									<f:selectItem itemLabel="Select Division" itemValue="" />
									<f:selectItems itemValue="#{division.divisionId}"
										itemLabel="#{division.divisionName}" var="division"
										value="#{usersController.divisionDTOs}" />
									<p:ajax update="signUp"
										listener="#{usersController.findDistrictByDivision}" />
								</p:selectOneMenu>

								<p:selectOneMenu id="district" style="float:left"
									value="#{usersController.signpUpDTO.district.districtId}"
									layout="responsive">
									<f:selectItem itemLabel="Select District" itemValue="" />
									<f:selectItems itemValue="#{district.districtId}"
										itemLabel="#{district.districtName}" var="district"
										value="#{usersController.districtDTOs}" />
								</p:selectOneMenu>
							</h:panelGrid>


							<p:outputLabel value="Address : " />
							<p:inputTextarea
								value="#{usersController.signpUpDTO.presentAddress}" rows="2"
								cols="31" placeholder="Enter address .."
								required="true" />
						</h:panelGrid>
						<p:commandButton action="#{usersController.saveSignedUpUsers(1)}"
							value="Sign Up" icon="fa fa-sign-in"
							style="margin-right:20px; background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); "
							update="signUp" />
					</center>
				</p:panel>

				<p:panel rendered="#{usersController.studentSignUpFrmVisibility}"
					style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);">
					<center style="color:white">
						<h:outputLabel for="console" class="header-text" value="Sign up student" />
						<h:panelGrid columns="1">

							<h:panelGrid columns="1" style="margin-left:-1%">
								<p:outputLabel value="Select institute *" />
								<p:selectOneMenu id="institute" style="float:left"
									required="true"
									value="#{usersController.signpUpDTO.instituteId}"
									layout="responsive">
									<f:selectItem itemLabel="Select Institute" itemValue="" />
									<f:selectItems itemValue="#{institute.instituteId}"
										itemLabel="#{institute.instituteName}" var="institute"
										value="#{usersController.instituteDTOs}" />
								</p:selectOneMenu>
							</h:panelGrid>

							<p:outputLabel value="Student *" />
							<p:inputText value="#{usersController.signpUpDTO.name}"
								placeholder=" Enter student name " style="width:96%"
								required="true" />


							<p:outputLabel value="User name * " />
							<p:inputText value="#{usersController.signpUpDTO.email}"
								placeholder=" Email (which is used) " style="width:96%" />

							<p:outputLabel value="Password : (Four or more characters)" />
							<p:password value="#{usersController.signpUpDTO.password}"
								placeholder=" Password " style="width:96%" match="pwd2"
								inline="true" title="Password four or more characters">
								<f:validateRegex pattern=".{4,}"></f:validateRegex>
							</p:password>

							<p:outputLabel value="Confirm password : " />
							<p:password id="pwd2"
								value="#{usersController.signpUpDTO.password}"
								placeholder=" confirm password " style="width:96%" />

							<p:outputLabel value="Birth date : " />
							<p:calendar value="#{usersController.signpUpDTO.signedUpDate}"
								pattern="yyy-MM-dd" placeholder="Birthdate.." navigator="true"
								required="true" id="birthDateCal" yearRange="c-119:c-0"
								style="width:96%" />

							<h:panelGrid columns="2">
								<p:outputLabel for="patientGender" value="Gender :"
									required="true" />
								<p:selectOneRadio id="patientGender"
									value="#{usersController.signpUpDTO.gender}">
									<f:selectItem itemLabel="Male " itemValue="Male" />
									<f:selectItem itemLabel="Female " itemValue="Female" />
								</p:selectOneRadio>
							</h:panelGrid>
						</h:panelGrid>
						<p:commandButton action="#{usersController.saveSignedUpUsers(3)}"
							value="Sign Up" icon="fa fa-sign-in"
							style="margin-right:20px; margin-top:10px; background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);"
							update="signUp" />
					</center>

				</p:panel>
			</div>
		</div>
	</h:form>

</body>

</html>