<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Group</title>
		</h:head>
		<h:body>
			<h:form id="teacher-registration" enctype="multipart/form-data">
				<!-- <p:growl life="1000" /> -->
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12 ui-lg-3" />
					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<p:commandButton style=" margin:0% 1% 1% 0%" value="New group"
							rendered="#{applicationUtilsMB.userRoleInstitute}"
							update="header_action" oncomplete="PF('groupDialog').show()"></p:commandButton>

						<p:dataScroller
							value="#{instituteNoticeController.instituteGroupsDTO}"
							var="group">
							<f:facet name="header">
								Group information
							</f:facet>
							<h:panelGrid columns="2" style="margin-left:1%">
								<p:outputPanel>
									<h:panelGrid columns="2" cellpadding="2">

										<h:outputText value="Gorup : " style="font-weight: bold" />
										<h:outputText value="#{group.groupName}" />

										<h:outputText value="Title : " style="font-weight: bold" />
										<h:outputText value="#{group.groupTitle}" />
									</h:panelGrid>
								</p:outputPanel>


							</h:panelGrid>
							<p:commandLink
								action="#{instituteNoticeController.findGroupNoticeByInstitute}"
								update="teacher-registration"
								style="float:right;margin-right:10px; margin-top:-6%">
								<h:outputText styleClass="ui-icon fa fa-search"
									style="margin-top: -8%; float:right" />
								<f:setPropertyActionListener value="#{group}"
									target="#{instituteNoticeController.groupDTO}" />
							</p:commandLink>
						</p:dataScroller>
					</div>
				</div>
			</h:form>


			<p:dialog widgetVar="groupDialog" modal="true" showEffect="blind"
				header="Create new group" resizable="false" appendTo="@(body)">
				<h:form id="create_group">
					<h:panelGrid columns="2" class="ui-g-12 ui-md-12 ui-lg-12">
						<p:outputLabel value="Name:" />
						<p:inputText class="ui-g-12 ui-md-12 ui-lg-12" style="width:300px"
							value="#{instituteNoticeController.groupDTO.groupName}" />
						<p:outputLabel value="Title:" />
						<p:inputTextarea rows="2" class="ui-g-12 ui-md-12 ui-lg-12"
							style="width:300px"
							value="#{instituteNoticeController.groupDTO.groupTitle}" />
						<center>
							<p:commandButton value="Create" ajax="true"
								style="margin-left:80px" oncomplete="PF('groupDialog').hide()"
								action="#{instituteNoticeController.createGroupByInstitute}"
								update="create_group :teacher-registration" />
						</center>
					</h:panelGrid>
				</h:form>
			</p:dialog>

		</h:body>

		<style type="text/css">
.logo {
	width: 5%
}

.detail {
	width: 95%;
	padding-left: 25px;
}

.detail td {
	font-size: 24px;
}

.ui-datascroller .ui-datascroller-item {
	border-bottom: 1px solid #A8A8A8;
	padding: 5px 10px;
	/* with the exported variables from Nova and Luna Themes*/
	border-bottom-color: var(- -input-border-color, #A8A8A8);
}

.ui-grid-row .ui-grid-col-2, .ui-grid-row .ui-grid-col-10 {
	padding: 0.5em 0;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

.ui-orderlist .ui-grid-row .ui-grid-col-2, .ui-orderlist .ui-grid-row .ui-grid-col-10
	{
	padding: 0;
}
</style>
	</ui:define>
</ui:composition>
