<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title>Notice</title>
		</h:head>

		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-1" />
				<div class="ui-g-12 ui-md-12 ui-lg-10">
					<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-11"
						rendered="#{not applicationUtilsMB.userRoleStudent}"
						style="background-color: lightgrey; margin:-0.5% 0.8% 0% 0.8%">
						<p:inputTextarea onmouseup="PF('writingPostDialog').show()"
							placeholder="Write you group post..?" cols="100"
							styleClass="ui-g-12 ui-md-12 ui-lg-12" onclick="" />

						<p:commandButton style="background:none; margin:1% 1% 0% 0%"
							value="Write" update="header_action"
							oncomplete="PF('writingPostDialog').show()"></p:commandButton>
						<p:commandButton style="background:none; margin:1% 1% 0% 0%"
							value="Photo" update="header_action"
							oncomplete="PF('picturePostDialog').show()"></p:commandButton>
					</p:panel>

					<div class="ui-g-12 ui-md-12 ui-lg-2">
						<p:dialog widgetVar="picturePostDialog" header="Post image"
							draggable="true" resizable="true" closeOnEscape="true"
							appendTo="@(body)" modal="true">
							<h:form id="picture_post" enctype="multipart/form-data">
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

									<p:inputTextarea rows="2" cols="50" rendered="true"
										value="#{instituteNoticeController.groupNoticeDTO.noticeTitle}"
										placeholder="Enter notice title.." />

									<p:fileUpload
										value="#{instituteNoticeController.groupNoticePhoto}"
										label="Photo" skinSimple="true" mode="simple" />

								</h:panelGrid>
								<center>
									<p:commandButton style="background:none; margin-right:1%"
										ajax="false" update="picture_post :problem_table"
										value="Post notice"
										oncomplete="PF('picturePostDialog').hide()"
										rendered="#{applicationUtilsMB.userRoleTeacher}"
										action="#{instituteNoticeController.postGroupNotice(4)}" />

									<p:commandButton style="background:none; margin-right:1%"
										ajax="false" update="picture_post :problem_table"
										value="Post notice"
										oncomplete="PF('picturePostDialog').hide()"
										rendered="#{applicationUtilsMB.userRoleInstitute}"
										action="#{instituteNoticeController.postGroupNotice(3)}" />
								</center>
							</h:form>
						</p:dialog>

					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-2">
						<p:dialog widgetVar="writingPostDialog" header="Post notice"
							styleClass="ui-g-12 ui-md-12 ui-lg-12" draggable="true"
							resizable="true" closeOnEscape="true" appendTo="@(body)"
							modal="true">
							<h:form id="writing_post">
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

									<p:inputTextarea rows="2" cols="60" rendered="true"
										value="#{instituteNoticeController.groupNoticeDTO.noticeTitle}"
										placeholder="Enter post title.." />

									<p:inputTextarea rows="10" cols="60" required="true"
										value="#{instituteNoticeController.groupNoticeDTO.noticeBody}"
										placeholder="Enter post..." />

								</h:panelGrid>
								<center>

									<p:commandButton style="background:none; margin-right:1%"
										ajax="true" update="writing_post :problem_table"
										value="Post notice"
										rendered="#{applicationUtilsMB.userRoleTeacher}"
										action="#{instituteNoticeController.postGroupNotice(2)}"
										oncomplete="if (args &amp;&amp; !args.validationFailed) PF('writingPostDialog').hide()" />

									<p:commandButton style="background:none; margin-right:1%"
										ajax="true" update="writing_post :problem_table"
										value="Post notice"
										rendered="#{applicationUtilsMB.userRoleInstitute}"
										action="#{instituteNoticeController.postGroupNotice(1)}"
										oncomplete="if (args &amp;&amp; !args.validationFailed) PF('writingPostDialog').hide()" />
								</center>
							</h:form>
						</p:dialog>
					</div>




					<h:form id="problem_table">

						<!-- notice show form this tables -->

						<p:dataGrid var="problem" columns="1"
							styleClass="ui-g-12 ui-md-12 ui-lg-12"
							value="#{instituteNoticeController.groupNoticeDTOs}"
							reflow="true">

							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">

								<p:outputLabel rendered="#{not empty problem.teacher.teacherId}">
									<img src="#{problem.teacherPhotoBase64}" height="30" width="30"
										style="border-radius: 100px; background-color: white; float: left;" />
								</p:outputLabel>
								<p:outputLabel value="#{problem.teacher.teacherName}"
									rendered="#{not empty problem.teacher.teacherName}"
									styleClass="ui-g-12 ui-md-12 ui-lg-5" />


								<p:outputLabel rendered="#{not empty problem.teacher.teacherId}">
									<img src="#{problem.teacherPhotoBase64}" height="30" width="30"
										style="border-radius: 100px; background-color: white; float: left;" />
								</p:outputLabel>
								<p:outputLabel value="#{problem.teacher.teacherName}"
									rendered="#{not empty problem.teacher.teacherName}"
									styleClass="ui-g-12 ui-md-12 ui-lg-5" />

								<p:outputLabel
									rendered="#{not empty problem.institute.instituteId}">
									<img src="#{problem.institutePhotoBase64}" height="30"
										width="30"
										style="border-radius: 100px; background-color: white; float: left;" />
								</p:outputLabel>
								<p:outputLabel value="#{problem.institute.instituteName}"
									rendered="#{not empty problem.institute.instituteName}"
									styleClass="ui-g-12 ui-md-12 ui-lg-5" />

								<p:outputLabel value="Date:- #{problem.noticeDate}"
									styleClass="ui-g-12 ui-md-12 ui-lg-6" />


								<h:panelGrid columns="2" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Title :- #{problem.noticeTitle}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12"
									style="margin:-1% 0% 0% 0%"
									rendered="#{not empty problem.noticeBody}">
									<p:outputLabel value="#{problem.noticeBody}" />
								</h:panelGrid>

								<center>
									<h:panelGrid columns="1"
										rendered="#{not empty problem.noticeWithPhoto}">

										<img src="#{problem.noticePhotoBase64}" height="450"
											style="border-radius: 2px" width="450" />

									</h:panelGrid>
								</center>
							</p:panel>
						</p:dataGrid>
					</h:form>
				</div>
			</div>
		</h:body>


	</ui:define>

</ui:composition>
