<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">
		<h:head>
			<title>Institute Information</title>
		</h:head>
		<h:body>
			<div class="ui-g">

				<div class="ui-g-12 ui-md-12 ui-lg-6">
					<h:form id="institute_info" enctype="multipart/form-data">
						<p:dataGrid var="institute" value="" columns="1" layout="grid"
							style="background: none; border: none;">

							<p:commandButton oncomplete="PF('hotLineDtoDg').show()"
								update=":dgHotline" style=" float: right; margin:10px 5px 0px 0px;  "
								ajax="true" icon="fa fa-edit" value="Edit">
								<f:setPropertyActionListener
									value="#{instituteInfoController.viewInstituteInfo}"
									target="#{instituteInfoController.viewInstituteInfo}" />
							</p:commandButton>

							<p:panel
								header="#{instituteInfoController.viewInstituteInfo.institute.instituteName}">

								<p:panelGrid>

									<img
										src="#{instituteInfoController.viewInstituteInfo.logoWithBase64}"
										height="250" width="463"
										style="border-radius: 4px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

								</p:panelGrid>
							</p:panel>

							<p:panel style="margin-top:3%" header="Institute Artical">
								<p:panelGrid>
									<p:outputLabel
										value="#{instituteInfoController.viewInstituteInfo.institute.articaalOfInstitute}" />
								</p:panelGrid>
							</p:panel>

							<p:panel style="margin-top:3%" header="Email">
								<p:panelGrid>
									<p:outputLabel
										value="#{instituteInfoController.viewInstituteInfo.institute.contactEmail}" />
								</p:panelGrid>
							</p:panel>

							<p:panel style="margin-top:3%" header="Contract No">
								<p:panelGrid>
									<p:outputLabel
										value="#{instituteInfoController.viewInstituteInfo.institute.contactNo}" />
								</p:panelGrid>
							</p:panel>
							<p:panel style="margin-top:3%" header="Address">
								<p:panelGrid>
									<p:outputLabel
										value="#{instituteInfoController.viewInstituteInfo.institute.address}" />
								</p:panelGrid>
							</p:panel>
						</p:dataGrid>
					</h:form>


					<p:dialog widgetVar="hotLineDtoDg" header="Update institute info"
						rendered="true" showEffect="fade" draggable="true" height="500"
						width="450" resizable="true" closeOnEscape="true"
						appendTo="@(body)" modal="true" hideEffect="fade">
						<p:scrollPanel style="height">
							<h:form id="dgHotline" enctype="multipart/form-data">
								<center>
									<h:panelGrid columns="1" cellspacing="8">
										<p:outputLabel value="Institute Artical :" />
										<p:inputTextarea rows="4" cols="40" maxlength="200"
											value="#{instituteInfoController.viewInstituteInfo.institute.articaalOfInstitute}" />

										<p:outputLabel value="Email :" />
										<p:inputTextarea rows="3" cols="40" maxlength="65"
											value="#{instituteInfoController.viewInstituteInfo.institute.contactEmail}" />

										<p:outputLabel value="Contact No :" />
										<p:inputTextarea rows="2" cols="40" maxlength="35"
											value="#{instituteInfoController.viewInstituteInfo.institute.contactNo}" />

										<p:outputLabel value="Address" />
										<p:inputText maxlength="10"
											value="#{instituteInfoController.viewInstituteInfo.institute.address}" />


										<p:outputLabel value="Update Cover Photo :" />
										<p:fileUpload value="#{instituteInfoController.uploadedFile}"
											skinSimple="true" mode="simple" />


									</h:panelGrid>

									<p:commandButton value="update"
										action="#{instituteInfoController.updateInstituteInfo}"
										oncomplete="PF('hotLineDtoDg').hide()" icon="fa fa-edit"
										ajax="false" update=":institute_info dgHotline " />
								</center>
							</h:form>
						</p:scrollPanel>
					</p:dialog>

				</div>

				
				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="institute_extra_info">
						<p:dataGrid var="institute"
							value="#{instituteAboutController.instituteInfoDTOs}" columns="1"
							layout="grid" style="background: none; border: none">

							<p:panel style="margin:1%">


								<p:outputPanel>
									<p:outputLabel
										value="Admin number : #{institute.institute.adminNumber}" />
								</p:outputPanel>

							</p:panel>

							<p:panel style="margin:1%">
								<p:outputPanel>
									<p:outputLabel
										value="Total amount of stoyred : #{institute.institute.numOfStoyred}" />
								</p:outputPanel>

								<p:outputPanel style="margin-top:3%">
									<p:outputLabel
										value="Total amount of ambulance : #{institute.institute.numOfAmbulance}" />
								</p:outputPanel>

								<p:outputPanel style="margin-top:3%">
									<p:outputLabel
										value="Total amount of doctor : #{institute.institute.numOfDoctor}" />
								</p:outputPanel>
							</p:panel>
						</p:dataGrid>
					</h:form>



				</div>
			</div>





		</h:body>
	</ui:define>
</ui:composition>
