<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title>Notice</title>
		</h:head>

		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-1" />
				<div class="ui-g-12 ui-md-12 ui-lg-10">
					<h:form id="problem_table">
						<!-- notice show form this tables -->
						<p:dataGrid var="problem" columns="1"
							styleClass="ui-g-12 ui-md-12 ui-lg-12"
							value="#{instituteNoticeController.noticeDTOsByInstituteId}"
							reflow="true">
							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">

								<h:panelGrid columns="3">
									<h:outputLabel
										rendered="#{not empty problem.institute.instituteId}">
										<img src="#{problem.institutePhotoBase64}" height="30"
											width="30"
											style="border-radius: 100px; background-color: white; float: left" />
									</h:outputLabel>

									<p:outputLabel value="#{problem.institute.instituteName}"
										rendered="#{not empty problem.institute.instituteName}"
										style=" margin-left: -1.5%"
										styleClass="ui-g-12 ui-md-12 ui-lg-12" />

									<p:outputLabel value="Sub :- #{problem.noticeTitle}"
										styleClass="ui-g-12 ui-md-12 ui-lg-12" />
								</h:panelGrid>

								<p:outputLabel value="Time :- #{problem.noticeDate}"
									style="margin-top:-0.5%" styleClass="ui-g-12 ui-md-12 ui-lg-12" />

								<h:panelGrid styleClass="ui-g-12 ui-md-12 ui-lg-12"
									style="margin:-1% 0% 0% 0%; height:100%; width:100%"
									rendered="#{not empty problem.noticeBody}">
									<p:outputLabel value="#{problem.noticeBody}"
										style="height:100%" />
								</h:panelGrid>


								<h:panelGrid rendered="#{not empty problem.noticeWithPhoto}"
									styleClass="ui-g-12 ui-md-12 ui-lg-10">
									<center>
										<img src="#{problem.noticePhotoBase64}" height="450"
											style="border-radius: 2px" width="450" />
									</center>
								</h:panelGrid>

							</p:panel>
						</p:dataGrid>
					</h:form>
				</div>
			</div>
		</h:body>


	</ui:define>

</ui:composition>
