<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title>Notice</title>
		</h:head>

		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-7">
					<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-11"
						rendered="#{not applicationUtilsMB.userRoleStudent}"
						style="background-color: lightgrey; margin:-0.5% 0.8% 0% 0.8%">
						<p:inputTextarea onmouseup="PF('writingPostDialog').show()"
							placeholder="What's on you mind.?" cols="100"
							styleClass="ui-g-12 ui-md-12 ui-lg-12" onclick="" />

						<p:commandButton style="background:none; margin:1% 1% 0% 0%"
							value="Write" update="header_action"
							oncomplete="PF('writingPostDialog').show()"></p:commandButton>
						<p:commandButton style="background:none; margin:1% 1% 0% 0%"
							value="Photo" update="header_action"
							oncomplete="PF('picturePostDialog').show()"></p:commandButton>
					</p:panel>

					<div class="ui-g-12 ui-md-12 ui-lg-2">
						<p:dialog widgetVar="picturePostDialog" header="Post image"
							draggable="true" resizable="true" closeOnEscape="true"
							appendTo="@(body)" modal="true">
							<h:form id="picture_post" enctype="multipart/form-data">
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

									<p:inputTextarea rows="2" cols="50" rendered="true"
										value="#{instituteNoticeController.instituteNoticeDTO.noticeTitle}"
										placeholder="Enter notice title.." />

									<p:fileUpload value="#{instituteNoticeController.noticePhoto}"
										label="Photo" skinSimple="true" mode="simple" />

								</h:panelGrid>
								<center>
									<p:commandButton style="background:none; margin-right:1%"
										ajax="false" update="picture_post :problem_table"
										value="Post notice"
										oncomplete="PF('picturePostDialog').hide()"
										rendered="#{applicationUtilsMB.userRoleTeacher}"
										action="#{instituteNoticeController.postNoticeByInstitute(4)}" />

									<p:commandButton style="background:none; margin-right:1%"
										ajax="false" update="picture_post :problem_table"
										value="Post notice"
										oncomplete="PF('picturePostDialog').hide()"
										rendered="#{applicationUtilsMB.userRoleInstitute}"
										action="#{instituteNoticeController.postNoticeByInstitute(1)}" />
								</center>
							</h:form>
						</p:dialog>
					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-2">
						<p:dialog widgetVar="writingPostDialog" header="Post notice"
							styleClass="ui-g-12 ui-md-12 ui-lg-12" draggable="true"
							resizable="true" closeOnEscape="true" appendTo="@(body)"
							modal="true">
							<h:form id="writing_post">
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

									<p:inputTextarea rows="2" cols="60" rendered="true"
										value="#{instituteNoticeController.instituteNoticeDTO.noticeTitle}"
										placeholder="Enter notice title.." />

									<p:inputTextarea rows="10" cols="60" required="true"
										value="#{instituteNoticeController.instituteNoticeDTO.noticeBody}"
										placeholder="Enter Notice..." />

								</h:panelGrid>
								<center>

									<p:commandButton style="background:none; margin-right:1%"
										ajax="true" update="writing_post :problem_table"
										value="Post notice"
										rendered="#{applicationUtilsMB.userRoleTeacher}"
										action="#{instituteNoticeController.postNoticeByInstitute(3)}"
										oncomplete="if (args &amp;&amp; !args.validationFailed) PF('writingPostDialog').hide()" />

									<p:commandButton style="background:none; margin-right:1%"
										ajax="true" update="writing_post :problem_table"
										value="Post notice"
										rendered="#{applicationUtilsMB.userRoleInstitute}"
										action="#{instituteNoticeController.postNoticeByInstitute(2)}"
										oncomplete="if (args &amp;&amp; !args.validationFailed) PF('writingPostDialog').hide()" />
								</center>
							</h:form>
						</p:dialog>
					</div>

					<h:form id="problem_table">
						<!-- notice show form this tables -->
						<p:dataGrid var="problem" columns="1" layout="grid"
							styleClass="ui-g-12 ui-md-12 ui-lg-12"
							value="#{instituteNoticeController.instituteNoticeDTOs}"
							reflow="true">
							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">

								<h:panelGrid columns="3">
									<h:outputLabel
										rendered="#{not empty problem.teacher.teacherId}">
										<img src="#{problem.teacherPhotoBase64}" height="30"
											width="30"
											style="border-radius: 100px; margin-left: -2%; background-color: white; float: left;" />
									</h:outputLabel>

									<p:outputLabel value="#{problem.teacher.teacherName}"
										style=" margin-left: -1.5%"
										rendered="#{not empty problem.teacher.teacherName}"
										styleClass="ui-g-12 ui-md-12 ui-lg-12" />

									<h:outputLabel
										rendered="#{not empty problem.institute.instituteId}">
										<img src="#{problem.institutePhotoBase64}" height="30"
											width="30"
											style="border-radius: 100px; background-color: white; float: left" />
									</h:outputLabel>

									<p:outputLabel value="#{problem.institute.instituteName}"
										rendered="#{not empty problem.institute.instituteName}"
										style=" margin-left: -1.5%"
										styleClass="ui-g-12 ui-md-12 ui-lg-12" />

									<p:outputLabel value="Sub :- #{problem.noticeTitle}"
										styleClass="ui-g-12 ui-md-12 ui-lg-12" />
								</h:panelGrid>

								<p:outputLabel value="Time :- #{problem.noticeDate}"
									style="margin-top:-0.5%" styleClass="ui-g-12 ui-md-12 ui-lg-12" />

								<h:panelGrid styleClass="ui-g-12 ui-md-12 ui-lg-12"
									style="margin:-1% 0% 0% 0%; height:100%; width:100%"
									rendered="#{not empty problem.noticeBody}">
									<p:outputLabel value="#{problem.noticeBody}"
										style="height:100%" />
								</h:panelGrid>


								<h:panelGrid rendered="#{not empty problem.noticeWithPhoto}"
									styleClass="ui-g-12 ui-md-12 ui-lg-10">
									<center>
										<img src="#{problem.noticePhotoBase64}" height="450"
											style="border-radius: 2px" width="450" />
									</center>
								</h:panelGrid>

							</p:panel>
						</p:dataGrid>
					</h:form>
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-5"></div>

			</div>
		</h:body>


	</ui:define>

</ui:composition>
