<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Teacher Registration</title>
		</h:head>
		<h:body>
			<h:form id="teacher-registration" enctype="multipart/form-data">
				<!-- <p:growl life="1000" /> -->
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12 ui-lg-2" />
					<div class="ui-g-12 ui-md-12 ui-lg-8">
						<p:panel header="Teacher Registration" style="text-align:center">
							<center>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Name :" style="float:left" />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{instituteInfoController.teacherDTO.teacherName}"
										placeholder="Name" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Qualification :" style="float:left" />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{instituteInfoController.teacherDTO.qualification}"
										placeholder="qualification" />
								</h:panelGrid>


								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Designation :" />
									<p:selectOneMenu style="width:90%"
										value="#{instituteInfoController.teacherDTO.designation.id}"
										layout="responsive">
										<f:selectItem itemLabel=" Select Designation" />
										<f:selectItems
											value="#{instituteInfoController.designationDTOs}"
											var="generalInfo" itemLabel="#{generalInfo.name}"
											itemValue="#{generalInfo.id}" />
									</p:selectOneMenu>
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Department :" />
									<p:selectOneMenu style="width:90%"
										value="#{instituteInfoController.teacherDTO.department.id}"
										layout="responsive">
										<f:selectItem itemLabel=" Select Department" />
										<f:selectItems
											value="#{instituteInfoController.departmentDTOs}"
											var="generalInfo" itemLabel="#{generalInfo.name}"
											itemValue="#{generalInfo.id}" />
									</p:selectOneMenu>
								</h:panelGrid>



								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Phone Number :" style="float:left" />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{instituteInfoController.teacherDTO.contactNumber}"
										placeholder="phone number" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Email :" style="float:left" />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{instituteInfoController.teacherDTO.email}"
										placeholder="email" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Registration Id :" style="float:left" />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{instituteInfoController.teacherDTO.registrationId}"
										placeholder="Registration Id" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="Address :" style="float:left" />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{instituteInfoController.teacherDTO.address}"
										placeholder="address" />
								</h:panelGrid>

								<h:panelGrid columns="4" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Birth date : " />
									<p:calendar
										value="#{instituteInfoController.teacherDTO.birthDate}"
										pattern="yyy-MM-dd" placeholder="Birthdate.." navigator="true"
										required="true" id="birthDateCal" yearRange="c-119:c-0"
										style="width:100%" />
									<p:outputLabel value="Gender : " />
									<p:selectOneRadio id="Gender"
										value="#{instituteInfoController.teacherDTO.gender}">
										<f:selectItem itemLabel="Male " itemValue="Male" />
										<f:selectItem itemLabel="Female " itemValue="Female" />
									</p:selectOneRadio>
								</h:panelGrid>

								<h:panelGrid columns="2" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:fileUpload value="#{instituteInfoController.teacherPhoto}"
										label="Photo" skinSimple="true" mode="simple" />
								</h:panelGrid>


								<h:panelGrid columns="2" styleClass="ui-g-12 ui-md-12 ui-lg-6"></h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="User name * " />
									<p:inputText
										value="#{instituteInfoController.teacherDTO.userName}"
										placeholder=" Email (which is used) " style="width:96%" />

									<p:outputLabel value="Password : (Four or more characters)" />
									<p:password
										value="#{instituteInfoController.teacherDTO.password}"
										placeholder=" Password " style="width:96%" match="pwd2"
										inline="true" title="Password four or more characters">
										<f:validateRegex pattern=".{4,}"></f:validateRegex>
									</p:password>

									<p:outputLabel value="Confirm password : " />
									<p:password id="pwd2"
										value="#{instituteInfoController.teacherDTO.password}"
										placeholder=" confirm password " style="width:96%" />


								</h:panelGrid>


							</center>

							<!-- teacher registration by this method -->

							<p:commandButton value="Registration" icon="fa fa-save"
								style="margin: 10px 0px 0px -110px" ajax="false"
								action="#{instituteInfoController.saveTeacher(2)}"
								update="teacher-registration" />

						</p:panel>
					</div>

				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
