<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">
		<h:head>
			<title>Modify Role</title>
		</h:head>
		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h:form id="generalInfo_show">
						<p:dataGrid var="teacher"
							value="#{instituteInfoController.teacherDTOs}" columns="4"
							layout="grid" rows="12">

							<f:facet name="header">
           						Information of teacher
       						 </f:facet>

							<p:panel
								header="#{teacher.designation.name} #{teacher.teacherName}"
								style="text-align:center">
								<h:panelGrid columns="1" style="width:100%">
									<img src="#{teacher.photoWithBase64}" height="200" width="200"
										style="border-radius: 4px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

									<p:outputLabel value="Department of #{teacher.department.name}" />
									<p:outputLabel value="#{teacher.qualification}" />

									<p:commandLink update=":teacher_dig generalInfo_show"
										style="margin:3%" oncomplete="PF('teacherDialog').show()"
										title="View Detail">
										<h:outputText value="Details" styleClass="fa fa-search"
											style="margin-left:2%;font-weight: bold; font-size:15px " />
										<f:setPropertyActionListener value="#{teacher}"
											target="#{instituteInfoController.teacherDTO}" />
									</p:commandLink>
								</h:panelGrid>
							</p:panel>
						</p:dataGrid>



					</h:form>

					<h:form id="teacher_dig">
						<p:dialog draggable="true" resizable="true" closeOnEscape="true"
							widgetVar="teacherDialog"
							header=" #{instituteInfoController.teacherDTO.teacherName} Information"
							appendTo="@(body)" modal="true">
							<p:outputPanel id="teacherDetail">
								<p:panelGrid columns="2" columnClasses="label,value">
									<f:facet name="header">
										<img
											src="#{instituteInfoController.teacherDTO.photoWithBase64}"
											height="200" width="200"
											style="border-radius: 4px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
									</f:facet>

									<p:outputLabel value="Name:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{instituteInfoController.teacherDTO.designation.name} #{instituteInfoController.teacherDTO.teacherName}" />

									<p:outputLabel value="Department" style="font-weight: bold;" />
									<p:outputLabel
										value="Department of #{instituteInfoController.teacherDTO.department.name}" />

									<p:outputLabel value="Email:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{instituteInfoController.teacherDTO.email}" />

									<p:outputLabel value="Number:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{instituteInfoController.teacherDTO.contactNumber}" />

									<p:outputLabel value="Address:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{instituteInfoController.teacherDTO.address}" />

									<p:outputLabel value="Reg. Id:"
										style="font-weight: bold;" />
									<p:outputLabel
										value="#{instituteInfoController.teacherDTO.registrationId}" />
								</p:panelGrid>
							</p:outputPanel>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</h:body>
	</ui:define>
</ui:composition>
