<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title>Add Doctor</title>
		</h:head>

		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-1" />
				<div class="ui-g-12 ui-md-12 ui-lg-10">
					<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-11"
						style="background-color: lightgrey; margin:-0.5% 0.8% 0% 0.8%">
						<p:inputTextarea onmouseup="PF('writingPostDialog').show()"
							placeholder="Have any problem, #{studentInfoController.studentInfos.student.studentName}?"
							cols="70" styleClass="ui-g-12 ui-md-12 ui-lg-12" onclick="" />

						<p:commandButton style="background:none; margin:1% 1% 0% 0%"
							value="Write" update="header_action"
							oncomplete="PF('writingPostDialog').show()"
							rendered="#{applicationUtilsMB.userRoleStudent}"></p:commandButton>
						<p:commandButton style="background:none; margin:1% 1% 0% 0%"
							value="Photo" update="header_action"
							oncomplete="PF('picturePostDialog').show()"
							rendered="#{applicationUtilsMB.userRoleStudent}"></p:commandButton>
					</p:panel>

					<div class="ui-g-12 ui-md-12 ui-lg-2">
						<p:dialog widgetVar="picturePostDialog" header="Post image"
							draggable="true" resizable="true" closeOnEscape="true"
							appendTo="@(body)" modal="true">
							<h:form id="picture_post" enctype="multipart/form-data">
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

									<h:panelGrid columns="2" columnClasses="ui-grid-col-12">
										<p:selectOneMenu id="Department"
											style="float:left; margin-left:-2%" required="true"
											value="#{studentProblemController.problemConfigDTO.department.id}"
											layout="responsive">
											<f:selectItem itemLabel="Select Department" itemValue="" />
											<f:selectItems itemValue="#{department.id}"
												itemLabel="#{department.name}" var="department"
												value="#{studentProblemController.departmentDTOs}" />
										</p:selectOneMenu>
										<p:inputText placeholder="Enter subject name.."
											value="#{studentProblemController.problemConfigDTO.subjectName}"
											required="true" />
									</h:panelGrid>

									<p:inputTextarea rows="2" cols="45" required="true"
										value="#{studentProblemController.problemConfigDTO.topicName}"
										placeholder="Enter topic name.." />

									<p:fileUpload value="#{studentProblemController.problemPhoto}"
										skinSimple="true" mode="simple" />

								</h:panelGrid>
								<center>
									<p:commandButton style="background:none; margin-right:1%"
										ajax="false" update="picture_post :problem_table"
										value="Share" oncomplete="PF('picturePostDialog').hide()"
										action="#{studentProblemController.postProblemByStudent(2)}" />
								</center>
							</h:form>
						</p:dialog>

					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-2">
						<p:dialog widgetVar="writingPostDialog" header="Write problem"
							styleClass="ui-g-12 ui-md-12 ui-lg-12" draggable="true"
							resizable="true" closeOnEscape="true" appendTo="@(body)"
							modal="true">
							<h:form id="writing_post">
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<h:panelGrid columns="2" columnClasses="ui-grid-col-12">
										<p:selectOneMenu id="Department"
											style="float:left; margin-left:-2%" required="true"
											value="#{studentProblemController.problemConfigDTO.department.id}"
											layout="responsive">
											<f:selectItem itemLabel="Select Department" itemValue="" />
											<f:selectItems itemValue="#{department.id}"
												itemLabel="#{department.name}" var="department"
												value="#{studentProblemController.departmentDTOs}" />
										</p:selectOneMenu>
										<p:inputText placeholder="Enter subject name.."
											value="#{studentProblemController.problemConfigDTO.subjectName}"
											required="true" />
									</h:panelGrid>

									<p:inputTextarea rows="2" cols="45" required="true"
										value="#{studentProblemController.problemConfigDTO.topicName}"
										placeholder="Enter topic name.." />

									<p:inputTextarea rows="10" cols="60" required="true"
										value="#{studentProblemController.problemConfigDTO.writinPost}"
										placeholder="Enter your problem.." />

								</h:panelGrid>
								<center>
									<p:commandButton style="background:none; margin-right:1%"
										ajax="true" update="writing_post :problem_table" value="Share"
										action="#{studentProblemController.postProblemByStudent(1)}"
										oncomplete="if (args &amp;&amp; !args.validationFailed) PF('writingPostDialog').hide()" />
								</center>
							</h:form>
						</p:dialog>
					</div>
					<h:form id="problem_table">
						<p:dataGrid var="problem" columns="1"
							styleClass="ui-g-12 ui-md-12 ui-lg-11.5"
							value="#{studentProblemController.allProblemDTOs}" reflow="true">

							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">
								<img src="#{problem.studentPhotoBase64}" height="30" width="30"
									style="border-radius: 100px; background-color: white; float: left;" />

								<p:commandLink value="#{problem.student.studentName}"
									style="text-decoration: none;"
									oncomplete="PF('studentDialog').show()"
									update="problem_table :teacher_dig"
									styleClass="ui-g-12 ui-md-12 ui-lg-3">
									<f:setPropertyActionListener value="#{problem}"
										target="#{studentProblemController.problemConfigDTO}"></f:setPropertyActionListener>
								</p:commandLink>

								<p:outputLabel value="Department- #{problem.department.name}"
									styleClass="ui-g-12 ui-md-12 ui-lg-4" />
								<p:outputLabel value="Date- #{problem.postDate}"
									styleClass="ui-g-12 ui-md-12 ui-lg-4" />

								<p:outputLabel value="Topic- #{problem.topicName}"
									style="margin-top:-0.5%" styleClass="ui-g-12 ui-md-12 ui-lg-6" />
								<p:outputLabel value="Subject- #{problem.subjectName}"
									style="margin-top:-0.5%" styleClass="ui-g-12 ui-md-12 ui-lg-6" />

								<h:panelGrid styleClass="ui-g-12 ui-md-12 ui-lg-12"
									style="margin:0.5% 0% 1.5% 0%"
									rendered="#{not empty problem.writinPost}">
									<p:outputLabel value="Quastion :- #{problem.writinPost}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12"
									rendered="#{not empty problem.picturePost}">
									<img src="#{problem.problemPhotoBase64}" height="400"
										width="450" style="border-radius: 4px;" />
								</h:panelGrid>


								<p:commandButton
									style=" margin:0% 1% -0.3% 2.5%; background:none; height: 10%"
									value="Solution #{problem.totalSolution}"
									update="header_action :solution_post"
									action="#{studentProblemController.findProblemSolutionByPrblm}"
									oncomplete="PF('solutionDialog').show()"
									rendered="#{applicationUtilsMB.userRoleStudent}">
									<f:setPropertyActionListener value="#{problem}"
										target="#{studentProblemController.problemConfigDTO}"></f:setPropertyActionListener>
								</p:commandButton>

								<p:commandButton
									style=" margin:0% 1% -0.3% 2.5%; background:none;"
									value="Share" update="header_action"
									oncomplete="PF('picturePostDialog').show()"
									rendered="#{applicationUtilsMB.userRoleStudent}"></p:commandButton>
							</p:panel>
						</p:dataGrid>
					</h:form>



					<h:form id="teacher_dig">
						<p:dialog draggable="true" resizable="true" closeOnEscape="true"
							widgetVar="studentDialog"
							header=" #{studentProblemController.problemConfigDTO.student.studentName} Information"
							appendTo="@(body)" modal="true">
							<p:outputPanel id="teacherDetail">
								<p:panelGrid columns="2" columnClasses="label,value">
									<f:facet name="header">
										<img
											src="#{studentProblemController.problemConfigDTO.studentPhotoBase64}"
											height="200" width="200"
											style="border-radius: 4px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
									</f:facet>

									<p:outputLabel value="Institute:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{studentProblemController.problemConfigDTO.student.institute.instituteName}" />

									<p:outputLabel value="Batch:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{studentProblemController.problemConfigDTO.student.batchName}" />

									<p:outputLabel value="Email:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{studentProblemController.problemConfigDTO.student.email}" />

									<p:outputLabel value="Number:" style="font-weight: bold;" />
									<p:outputLabel
										value="#{studentProblemController.problemConfigDTO.student.contactNumber}" />

									<p:outputLabel value="Blood" style="font-weight: bold;" />
									<p:outputLabel
										value="#{studentProblemController.problemConfigDTO.student.bloodGroup}" />
								</p:panelGrid>
							</p:outputPanel>
						</p:dialog>
					</h:form>



					<p:scrollPanel style="height">
						<p:dialog widgetVar="solutionDialog" draggable="true" height="470"
							resizable="true" width="850" closeOnEscape="true"
							appendTo="@(body)" modal="true">
							<h:form id="solution_post" enctype="multipart/form-data">
								<p:dataGrid var="problem" columns="1"
									styleClass="ui-g-12 ui-md-12 ui-lg-12"
									value="#{studentProblemController.problemSolutionDTOs}"
									reflow="true">
									<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">
										<img src="#{problem.spersonPhotoWithBase2}" height="35"
											width="35"
											style="border-radius: 100px; background-color: white; float: left;" />
										<p:outputLabel value="#{problem.student.studentName}"
											styleClass="ui-g-12 ui-md-12 ui-lg-4" />
										<p:outputLabel value="Date- #{problem.solutionDate}"
											styleClass="ui-g-12 ui-md-12 ui-lg-5" />

										<h:panelGrid columns="1" style="margin:-1% 0% 0% 1.5%"
											styleClass="ui-g-12 ui-md-12 ui-lg-11"
											rendered="#{not empty problem.solutionByWrite}">
											<p:outputLabel value="#{problem.solutionByWrite}"
												styleClass="ui-g-12 ui-md-12 ui-lg-11" />
										</h:panelGrid>

										<h:panelGrid columns="2" style="margin-left:1%"
											styleClass="ui-g-12 ui-md-12 ui-lg-11">
											<h:panelGrid columns="1"
												rendered="#{not empty problem.solutionByPhoto1}">
												<img src="#{problem.solutionPhotoWithBase1}" height="200"
													width="350" />
											</h:panelGrid>
											<h:panelGrid columns="1"
												rendered="#{not empty problem.solutionByPhoto2}">
												<img src="#{problem.solutionPhotoWithBase2}" height="200"
													width="350" />
											</h:panelGrid>
										</h:panelGrid>
									</p:panel>
								</p:dataGrid>


								<h:panelGrid columns="1" style="margin-top:1%">
									<p:inputTextarea placeholder="Submit your solution...."
										cols="100" rows="3"
										value="#{studentProblemController.problemSolutionDTO.solutionByWrite}" />

									<h:panelGrid columns="2" style="margin-top:1%">
										<p:fileUpload label="Photo"
											value="#{studentProblemController.solutionPhoto1}"
											skinSimple="true" mode="simple" />

										<p:fileUpload label="Photo"
											value="#{studentProblemController.solutionPhoto2}"
											skinSimple="true" mode="simple" />
									</h:panelGrid>

									<center>
										<p:commandButton style=" margin:0% 1% 1.5% 10%" value="Submit"
											ajax="false"
											action="#{studentProblemController.submitProblemSolution}"></p:commandButton>
									</center>
								</h:panelGrid>
							</h:form>
						</p:dialog>
					</p:scrollPanel>
				</div>



			</div>
		</h:body>

	</ui:define>

</ui:composition>
