<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Add Course</title>
		</h:head>

		<style type="text/css">
.ui-row-editor .ui-row-editor-pencil {
	margin-left: 8px;
}
</style>
		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="solution">
						<p:dataScroller var="group"
							value="#{studentINoticeController.groupDTOs}">
							<f:facet name="header">
           					  Group
       				 </f:facet>
							<h:panelGrid columns="2">
								<p:outputPanel>
									<h:panelGrid columns="1">
										<h:outputText value="#{group.groupName} "
											style="font-weight: bold" />
										<h:outputText value="#{group.groupTitle}" />
									</h:panelGrid>
								</p:outputPanel>
							</h:panelGrid>
							<p:commandLink title="Join" rendered="#{group.join==0}"
								action="#{studentINoticeController.joinOrUnJoinGroup(1)}"
								update="solution :group">
								<h:outputText styleClass="ui-icon fa fa-check" value="Like"
									style="margin-top: -10%; text-align:center; float:right; width:15%; height:18px; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)" />
								<f:setPropertyActionListener value="#{group}"
									target="#{studentINoticeController.groupDTO}"></f:setPropertyActionListener>
							</p:commandLink>

							<p:commandLink title="unfollow" rendered="#{group.join==1}"
								update="solution :group"
								action="#{studentINoticeController.joinOrUnJoinGroup(2)}">
								<h:outputText styleClass="ui-icon fa fa-check" value="Unfollow"
									style="margin-top: -10%; text-align:center; float:right; width:20%; height:18px; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)" />
								<f:setPropertyActionListener value="#{group}"
									target="#{studentINoticeController.groupDTO}"></f:setPropertyActionListener>
							</p:commandLink>
						</p:dataScroller>
					</h:form>
				</div>

				<div class="ui-g-12 ui-md-12 ui-lg-2" />
				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="group">
						<p:dataList value="#{studentINoticeController.groupConfigDTOs}"
							var="config" styleClass="paginated">
							<f:facet name="header">
           					 Joined group
       				 </f:facet>
							<p:commandLink value="#{config.group.groupName}"
								update="group :solution"
								action="#{studentINoticeController.findGroupNoticeById}"
								style="display:inline-block;text-decoration: none; ">

								<f:setPropertyActionListener value="#{config}"
									target="#{studentINoticeController.groupConfigDTO}"></f:setPropertyActionListener>
							</p:commandLink>
						</p:dataList>
					</h:form>
				</div>
			</div>
		</h:body>
		<style type="text/css">
.logo {
	width: 5%
}

.detail {
	width: 95%;
	padding-left: 25px;
}

.detail td {
	font-size: 24px;
}

.ui-datascroller .ui-datascroller-item {
	border-bottom: 1px solid #A8A8A8;
	padding: 5px 10px;
	/* with the exported variables from Nova and Luna Themes*/
	border-bottom-color: var(- -input-border-color, #A8A8A8);
}

.ui-grid-row .ui-grid-col-2, .ui-grid-row .ui-grid-col-10 {
	padding: 0.5em 0;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

.ui-orderlist .ui-grid-row .ui-grid-col-2, .ui-orderlist .ui-grid-row .ui-grid-col-10
	{
	padding: 0;
}

.ui-datalist {
	width: 300px;
	margin-bottom: 20px;
}

.ui-datalist-item {
	padding: 3px;
}

.paginated .ui-datalist-data {
	padding-left: 10%;
}
</style>
	</ui:define>
</ui:composition>
