<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title>Add Doctor</title>
		</h:head>

		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-1" />
				<div class="ui-g-12 ui-md-12 ui-lg-10">
					<h:form id="solution_post" enctype="multipart/form-data">
						<p:dataGrid var="problem" columns="1"
							styleClass="ui-g-12 ui-md-12 ui-lg-12"
							value="#{studentProblemController.problemSolutionDTOs}"
							reflow="true">

							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">
								<img src="#{problem.spersonPhotoWithBase2}" height="35"
									width="35"
									style="border-radius: 100px; background-color: white; float: left;" />
								<p:outputLabel value="#{problem.student.studentName}"
									styleClass="ui-g-12 ui-md-12 ui-lg-5" />
								<p:outputLabel value="Date- #{problem.solutionDate}"
									styleClass="ui-g-12 ui-md-12 ui-lg-6" />

								<p:outputLabel styleClass="ui-g-12 ui-md-12 ui-lg-1" />
								<p:outputLabel value="#{problem.solutionByWrite}"
									style="margin-top:1%"
									rendered="#{not empty problem.solutionByWrite}"
									styleClass="ui-g-12 ui-md-12 ui-lg-12" />

								<h:panelGrid columns="2" style="margin-left:1%"
									styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6"
										rendered="#{not empty problem.solutionByPhoto1}">
										<img src="#{problem.solutionPhotoWithBase1}" height="320"
											width="350" />
									</h:panelGrid>
									<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-6"
										rendered="#{not empty problem.solutionByPhoto2}">
										<img src="#{problem.solutionPhotoWithBase2}" height="320"
											width="350" />
									</h:panelGrid>


								</h:panelGrid>
								<p:commandButton value="Like" icon="fa fa-thumbs-o-up"
									update="solution_post" ajax="true"
									rendered="#{problem.solutionStatus==2}"
									action="#{studentProblemController.problmSolutionLikeByStdnt(1)}"
									style="margin:0% 0% 0.5% 0.5%; background:none; float:left">
									<f:setPropertyActionListener value="#{problem}"
										target="#{studentProblemController.problemSolutionDTO}"></f:setPropertyActionListener>
								</p:commandButton>

								<p:commandButton value="Unlike" icon="fa fa-thumbs-o-down"
									update="solution_post" ajax="true"
									rendered="#{problem.solutionStatus==1}"
									action="#{studentProblemController.problmSolutionLikeByStdnt(2)}"
									style="margin:0% 0% 0.5% 0.5%; background:none; float:left">
									<f:setPropertyActionListener value="#{problem}"
										target="#{studentProblemController.problemSolutionDTO}"></f:setPropertyActionListener>
								</p:commandButton>
							</p:panel>

						</p:dataGrid>
					</h:form>
				</div>
			</div>
		</h:body>
	</ui:define>

</ui:composition>
