<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">
	<ui:define name="content">
		<h:head>
			<title>Add Doctor</title>
		</h:head>

		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-1" />
				<div class="ui-g-12 ui-md-12 ui-lg-10">
					<h:form id="problem_table">
						<p:dataGrid var="problem" columns="1"
							styleClass="ui-g-12 ui-md-12 ui-lg-12"
							value="#{studentProblemController.studentProblemConfigDTOs}"
							reflow="true">

							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">
								<img src="#{problem.studentPhotoBase64}" height="30" width="30"
									style="border-radius: 100px; background-color: white; float: left;" />
								<p:outputLabel value="#{problem.student.studentName}"
									styleClass="ui-g-12 ui-md-12 ui-lg-3" />
								<p:outputLabel value=" Department :- #{problem.department.name}"
									styleClass="ui-g-12 ui-md-12 ui-lg-4" />

								<p:outputLabel value="Date :- #{problem.postDate}"
									styleClass="ui-g-12 ui-md-12 ui-lg-4" />

								<p:outputLabel value="Topic :- #{problem.topicName}"
									style="margin-top:-0.5%;" styleClass="ui-g-12 ui-md-12 ui-lg-4" />

								<p:outputLabel value="Subject :- #{problem.subjectName}"
									style="margin-top:-0.5%;" styleClass="ui-g-12 ui-md-12 ui-lg-4" />


								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12"
									style="margin:-1% 0% 0% 0%"
									rendered="#{not empty problem.writinPost}">
									<p:outputLabel style="margin-left:-0.2%;"
										value="Quastion:- #{problem.writinPost}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12"
									rendered="#{not empty problem.picturePost}">
									<img src="#{problem.problemPhotoBase64}" height="400"
										width="450" style="border-radius: 4px;" />
								</h:panelGrid>
								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:commandButton value="Solution #{problem.totalSolution}"
										style="margin:0.5% 0% -1% 1.3%; background:none"
										update="problem_table"
										action="#{studentProblemController.findProblemSolutionByPrId}">
										<f:setPropertyActionListener value="#{problem}"
											target="#{studentProblemController.problemConfigDTO}"></f:setPropertyActionListener>
									</p:commandButton>
								</h:panelGrid>
							</p:panel>

						</p:dataGrid>
					</h:form>
				</div>
			</div>
		</h:body>
	</ui:define>

</ui:composition>
