<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Add Course</title>
		</h:head>

		<style type="text/css">
.ui-row-editor .ui-row-editor-pencil {
	margin-left: 8px;
}
</style>
		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="parentPatient_info" enctype="multipart/form-data">
						<p:dataGrid var="student"
							value="#{studentInfoController.studentInfos}" columns="1"
							layout="grid" style="background: none; border: none;">
							<f:facet name="header">
				            Information
				        </f:facet>
							<p:commandButton
								oncomplete="PF('parentPatientProfileDtoDg').show()"
								style=" float: left; margin:0% 0% 1% 0%" icon="fa fa-edit"
								value="Edit" update=":dgParentPetaintProfile">
								<f:setPropertyActionListener value="#{student}"
									target="#{studentInfoController.studentInfos}" />
							</p:commandButton>


							<center>
								<h:panelGrid columns="1">
									<img src="#{student.logoWithBase64}" height="180" width="180"
										style="border-radius: 100px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

									<h:panelGrid style="margin-left:5%; margin-top:-1%" columns="2"
										styleClass="ui-g-12 ui-md-12 ui-lg-12">
										<p:outputLabel value="Name :-" />
										<h:outputLabel value="#{student.student.studentName}" />

										<p:outputLabel value="Reg :-" />
										<h:outputLabel value=" #{student.student.registrationId}" />

										<p:outputLabel value="Roll :-" />
										<h:outputLabel value="#{student.student.studentRoll}" />

										<p:outputLabel value="Email :-" />
										<h:outputLabel value="#{student.student.email}" />

										<p:outputLabel value="Blood :-" />
										<h:outputLabel value="#{student.student.bloodGroup}" />

										<p:outputLabel value="Number :-" />
										<h:outputLabel value=" #{student.student.contactNumber}" />

										<p:outputLabel value="Soultion :-" />
										<h:outputLabel value=" #{student.totalProblemSolution}" />

										<p:outputLabel value="Birth date :-" />
										<h:outputLabel value=" #{student.student.birthDate}" />


									</h:panelGrid>

								</h:panelGrid>
							</center>

						</p:dataGrid>
					</h:form>

					<p:dialog widgetVar="parentPatientProfileDtoDg"
						header="Update student info" draggable="true" resizable="true"
						closeOnEscape="true" appendTo="@(body)" modal="true">
						<h:form id="dgParentPetaintProfile" enctype="multipart/form-data">
							<h:panelGrid columns="2" styleClass="ui-g-12 ui-md-12 ui-lg-12">

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Student name: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.studentName}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Email: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.email}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Batch name: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.batchName}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Registration Id: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.registrationId}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Student roll: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.studentRoll}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Student number: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.contactNumber}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Blood group: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{studentInfoController.studentInfos.student.bloodGroup}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Image: " />
									<p:fileUpload value="#{studentInfoController.studentImage}"
										skinSimple="true" mode="simple" />
								</h:panelGrid>

								<center>
									<p:commandButton value="Update" ajax="false"
										action="#{studentInfoController.updateStudentInfo}"
										update=":dgParentPetaintProfile" />

								</center>
							</h:panelGrid>
						</h:form>
					</p:dialog>
				</div>


				<div class="ui-g-12 ui-md-12 ui-lg-7">
					<h:form id="solution">
						<p:dataScroller var="sulution"
							value="#{studentInfoController.studentProblemConfigDTOs}">
							<f:facet name="header">
				            Problem solution history
				        </f:facet>
							<h:panelGrid columns="2">
								<p:outputPanel>
									<h:panelGrid columns="2" cellpadding="2">
										<h:outputText value="Subject : " style="font-weight: bold" />
										<h:outputText value="#{sulution.problemConfig.subjectName}" />

										<h:outputText value="Problem : " style="font-weight: bold" />
										<h:outputText value="#{sulution.problemConfig.topicName}" />

										<h:outputText value="Solution date : "
											style="font-weight: bold" />
										<h:outputText value="#{sulution.solutionDate}" />
									</h:panelGrid>
								</p:outputPanel>
							</h:panelGrid>
							<p:commandLink title="View Detail"
								oncomplete="PF('solutionDialog').show()"
								update="solution :individul-solution">
								<h:outputText styleClass="ui-icon fa fa-search"
									style="margin-top: -8%; float:right" />
								<f:setPropertyActionListener value="#{sulution}"
									target="#{studentProblemController.problemSolutionDTO}"></f:setPropertyActionListener>
							</p:commandLink>
						</p:dataScroller>
					</h:form>

					<h:form id="individul-solution">
						<p:dialog widgetVar="solutionDialog" draggable="true"
							resizable="true" closeOnEscape="true" appendTo="@(body)"
							modal="true">
							<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">
								<h:panelGrid columns="1" style="margin:-1% 0% 0% 1.5%"
									styleClass="ui-g-12 ui-md-12 ui-lg-11"
									rendered="#{not empty studentProblemController.problemSolutionDTO.solutionByWrite}">
									<p:outputLabel
										value="#{studentProblemController.problemSolutionDTO.solutionByWrite}"
										styleClass="ui-g-12 ui-md-12 ui-lg-11" />
								</h:panelGrid>

								<h:panelGrid columns="2" style="margin-left:1%"
									styleClass="ui-g-12 ui-md-12 ui-lg-11">
									<h:panelGrid columns="1"
										rendered="#{not empty studentProblemController.problemSolutionDTO.solutionByPhoto1}">
										<img
											src="#{studentProblemController.problemSolutionDTO.solutionPhotoWithBase1}"
											height="200" width="350" />
									</h:panelGrid>
									<h:panelGrid columns="1"
										rendered="#{not empty studentProblemController.problemSolutionDTO.solutionByPhoto2}">
										<img
											src="#{studentProblemController.problemSolutionDTO.solutionPhotoWithBase2}"
											height="200" width="350" />
									</h:panelGrid>
								</h:panelGrid>
							</p:panel>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</h:body>
		<style type="text/css">
.logo {
	width: 5%
}

.detail {
	width: 95%;
	padding-left: 25px;
}

.detail td {
	font-size: 24px;
}

.ui-datascroller .ui-datascroller-item {
	border-bottom: 1px solid #A8A8A8;
	padding: 5px 10px;
	/* with the exported variables from Nova and Luna Themes*/
	border-bottom-color: var(- -input-border-color, #A8A8A8);
}

.ui-grid-row .ui-grid-col-2, .ui-grid-row .ui-grid-col-10 {
	padding: 0.5em 0;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

.ui-orderlist .ui-grid-row .ui-grid-col-2, .ui-orderlist .ui-grid-row .ui-grid-col-10
	{
	padding: 0;
}
</style>
	</ui:define>
</ui:composition>
