<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Add Course</title>
		</h:head>
		<h:body>
			<h:form id="addDivision">
				<p:growl life="1000" />
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12 ui-lg-1" />

					<div class="ui-g-12 ui-md-12 ui-lg-5">
						<p:panel header="Add district" style="text-align:center">
							<center>
								<h:panelGrid columns="1">
									<p:outputLabel for="designation" value="Division :"
										style="float:left" />
									<p:selectOneMenu id="designation"
										value="#{adminController.districtDTO.division.divisionId}"
										layout="responsive">
										<f:selectItem itemLabel=" Select one division" />
										<f:selectItems itemValue="#{division.divisionId}"
											itemLabel="#{division.divisionName}" var="division"
											value="#{adminController.divisionDTOs}" />
									</p:selectOneMenu>

									<p:outputLabel value="District name :" style="float:left" />
									<p:inputText
										value="#{adminController.districtDTO.districtName}" />

									<p:outputLabel value="Note :" style="float:left" />
									<p:inputText value="#{adminController.districtDTO.note}" />

									<p:commandButton value="Save" icon="fa fa-save" ajax="true"
										action="#{adminController.addOrUpdateDistrict}"
										update="addDivision" />
								</h:panelGrid>
							</center>
						</p:panel>
					</div>



					<div class="ui-g-12 ui-md-12 ui-lg-5">
						<p:panel header="Add division" style="text-align:center">
							<center>
								<h:panelGrid columns="1">
									<p:outputLabel value="Division name :" style="float:left" />
									<p:inputText
										value="#{adminController.divisionDTO.divisionName}" />

									<p:outputLabel value="Note :" style="float:left" />
									<p:inputText value="#{adminController.divisionDTO.note}" />

									<p:commandButton value="Save" icon="fa fa-save" ajax="true"
										action="#{adminController.addOrUpdateDivision}"
										update="addDivision" />
								</h:panelGrid>
							</center>
						</p:panel>
					</div>

				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
