<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Add Course</title>
		</h:head>
		<h:body>
			<h:form id="generalInfo">
				<p:growl life="1000" />
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12 ui-lg-1" />



					<div class="ui-g-12 ui-md-12 ui-lg-5">
						<p:panel header="General Info" style="text-align:center">
							<center>
								<h:panelGrid columns="1">
									<p:outputLabel value="Name :" style="float:left" />
									<p:inputText
										value="#{adminController.generalInfoDTO.name}" />

									<p:outputLabel value="Type Id :" style="float:left" />
									<p:inputText value="#{adminController.generalInfoDTO.typeId}" />

									<p:commandButton value="Save" icon="fa fa-save" ajax="true"
										action="#{adminController.saveGeneralInfo}" 
										update="generalInfo"/>
								</h:panelGrid>
							</center>
						</p:panel>
					</div>

				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
