<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">
		<h:head>
			<title>Modify Role</title>
		</h:head>
		<h:body>

			<h:form id="signUpApprove">

				<p:growl />
				<p:dataTable id="dt" value="#{usersController.signUpDTOs}"
					var="user" reflow="true">
					<f:facet name="header">Pending institute</f:facet>
					<p:column headerText="Signed Up Date">
						<p:outputLabel value="#{user.prepareDate}" />
					</p:column>

					<p:column headerText="Institute Name">
						<p:outputLabel value="#{user.name}" />
					</p:column>

					<p:column headerText="Contact No">
						<p:outputLabel value="#{user.contactNo}" />
					</p:column>

					<p:column headerText="Address">
						<p:outputLabel value="#{user.presentAddress}" />
					</p:column>


					<p:column headerText="Signed Up As">
						<p:outputLabel
							value="#{user.signedUpAs == 1 ? 'Institute' : 'Student'}" />
					</p:column>

					<p:column headerText="Approve">
						<p:commandButton action="#{usersController.approveSingleUsers}"
							value="Approve" ajax="false" icon="fa fa-check"
							update="signUpApprove">
							<f:setPropertyActionListener value="#{user}"
								target="#{usersController.signpUpDTO}" />
						</p:commandButton>
					</p:column>

				</p:dataTable>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
