<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">
		<h:head>
			<title>Modify Role</title>
		</h:head>
		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="generalInfo_show">
						<p:dataTable id="dt" value="#{adminController.generalInfoDTOs}"
							var="generalInfo" reflow="true" rowIndexVar="index">
							<f:facet name="header">General Info List</f:facet>

							<p:column headerText="Id" width="15%">
								<p:outputLabel value="#{index + 1}" />
							</p:column>

							<p:column headerText="Name">
								<p:outputLabel value="#{generalInfo.name}" />
							</p:column>

							<p:column headerText="Note">
								<p:outputLabel value="#{generalInfo.typeId}" />
							</p:column>

							<p:column style="width:15%" headerText="Edit">
								<p:commandButton oncomplete="PF('generalDtoDg').show()"
									icon="fa fa-edit" update="dgDivision">
									<f:setPropertyActionListener value="#{generalInfo}"
										target="#{adminController.generalInfoDTO}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>



					<p:dialog widgetVar="generalDtoDg" draggable="true"
						header="update GeneralInfo" resizable="true" closeOnEscape="true"
						appendTo="@(body)" modal="true">
						<h:form id="dgDivision">
							<h:panelGrid columns="1">
								<p:outputLabel value="Name :" />
								<p:inputText value="#{adminController.generalInfoDTO.name}" />
								<p:outputLabel value="Note :" style="float:left" />
								<p:inputText value="#{adminController.generalInfoDTO.typeId}" />
							</h:panelGrid>
							<center>
								<p:commandButton value="Update" ajax="true"
									style="margin-top:5%"
									action="#{adminController.saveGeneralInfo}"
									oncomplete="PF('generalDtoDg').hide()" update="generalInfo_show" />
							</center>
						</h:form>
					</p:dialog>

				</div>
			</div>
		</h:body>
	</ui:define>
</ui:composition>
