<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">
		<h:head>
			<title>Modify Role</title>
		</h:head>
		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-7">

					<h:form id="division_show">

						<p:dataTable id="dt" value="#{adminController.districtDTOs}"
							var="district" reflow="true" rowIndexVar="index">
							<f:facet name="header">District list</f:facet>
							<p:column headerText="Id" width="15%">
								<p:outputLabel value="#{index + 1}" />
							</p:column>

							<p:column headerText="Division">
								<p:outputLabel value="#{district.division.divisionName}" />
							</p:column>

							<p:column headerText="District">
								<p:outputLabel value="#{district.districtName}" />
							</p:column>

							<p:column headerText="Note">
								<p:outputLabel value="#{district.note}" />
							</p:column>

							<p:column style="width:15%" headerText="Edit">
								<p:commandButton oncomplete="PF('divisionDtoDg').show()"
									icon="fa fa-edit" update=":dgDivisionFrm">
									<f:setPropertyActionListener value="#{district}"
										target="#{adminController.districtDTO}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>

					<p:dialog widgetVar="divisionDtoDg" draggable="true"
						header="update division" resizable="true" closeOnEscape="true"
						appendTo="@(body)" modal="true">
						<h:form id="dgDivisionFrm">
							<h:panelGrid columns="1">
								<p:outputLabel for="designation" value="Division :"
									style="float:left" />
								<p:selectOneMenu id="designation"
									value="#{adminController.districtDTO.division.divisionId}"
									layout="responsive">
									<f:selectItem itemLabel=" Select one division" />
									<f:selectItems itemValue="#{division.divisionId}"
										itemLabel="#{division.divisionName}" var="division"
										value="#{adminController.divisionDTOs}" />
								</p:selectOneMenu>

								<p:outputLabel value="District name :" style="float:left" />
								<p:inputText value="#{adminController.districtDTO.districtName}" />

								<p:outputLabel value="Note :" style="float:left" />
								<p:inputText value="#{adminController.districtDTO.note}" />

							</h:panelGrid>
							<center>
								<p:commandButton value="Update" ajax="true"
									style="margin-top:5%"
									action="#{adminController.addOrUpdateDistrict}"
									oncomplete="PF('divisionDtoDg').hide()" update=":division_show" />
							</center>
						</h:form>
					</p:dialog>
				</div>

				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="district_show">
						<p:dataTable id="dt" value="#{adminController.divisionDTOs}"
							var="division" reflow="true" rowIndexVar="index">
							<f:facet name="header">Division list</f:facet>

							<p:column headerText="Id" width="15%">
								<p:outputLabel value="#{index + 1}" />
							</p:column>

							<p:column headerText="Name">
								<p:outputLabel value="#{division.divisionName}" />
							</p:column>

							<p:column headerText="Note">
								<p:outputLabel value="#{division.note}" />
							</p:column>

							<p:column style="width:15%" headerText="Edit">
								<p:commandButton oncomplete="PF('generalDtoDg').show()"
									icon="fa fa-edit" update=":dgDivision">
									<f:setPropertyActionListener value="#{division}"
										target="#{adminController.divisionDTO}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>



					<p:dialog widgetVar="generalDtoDg" draggable="true"
						header="update division" resizable="true" closeOnEscape="true"
						appendTo="@(body)" modal="true">
						<h:form id="dgDivision">
							<h:panelGrid columns="1">
								<p:outputLabel value="Name :" />
								<p:inputText value="#{adminController.divisionDTO.divisionName}" />
								<p:outputLabel value="Note :" style="float:left" />
								<p:inputText value="#{adminController.divisionDTO.note}" />
							</h:panelGrid>
							<center>
								<p:commandButton value="Update" ajax="true"
									style="margin-top:5%"
									action="#{adminController.addOrUpdateDivision}"
									oncomplete="PF('generalDtoDg').hide()" update=":district_show" />
							</center>
						</h:form>
					</p:dialog>

				</div>
			</div>
		</h:body>
	</ui:define>
</ui:composition>
