<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Teacher Registration</title>
		</h:head>
		<h:body>
			<h:form id="show_folder" enctype="multipart/form-data" style="margin-bottom:1%">
				<!-- <p:growl life="1000" /> -->
				<div class="ui-g">
					<p:panel styleClass="ui-g-12 ui-md-12 ui-lg-12">
						<p:commandButton value="New folder" update="header_action"
							oncomplete="PF('addFolderDialog').show()"></p:commandButton>
					</p:panel>
				</div>
			</h:form>

			<h:form id="view_topic" enctype="multipart/form-data">
				<p:dataGrid var="folder" value="#{teacherInfoController.folderDTOs}"
					columns="4" layout="grid" rows="12">
					<p:panel header="#{folder.folderName}"
						style="text-align:center; background:none">

						<p:commandButton value="View" update=":view_topic"
							style="height:4cm; width:5.9cm; background:none; border:none"
							action="#{teacherInfoController.findTopicByTeacher}">
							<f:setPropertyActionListener value="#{folder}"
								target="#{teacherInfoController.folderDTO}" />
						</p:commandButton>

					</p:panel>
				</p:dataGrid>
			</h:form>


			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<p:dialog widgetVar="addFolderDialog" header="New folder"
					width="30%" height="50%" draggable="true" resizable="true"
					closeOnEscape="true" appendTo="@(body)" modal="true">
					<h:form id="add_folder">
						<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

							<p:inputText rendered="true"
								styleClass="ui-g-12 ui-md-12 ui-lg-12"
								value="#{teacherInfoController.folderDTO.folderName}"
								placeholder="Folder name.." />

						</h:panelGrid>
						<center>
							<p:commandButton style=" margin-right:1%" ajax="true"
								update="add_folder :show_folder :view_topic" value="Create"
								action="#{teacherInfoController.createFolderByTeacher}"
								oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addFolderDialog').hide()" />
						</center>
					</h:form>
				</p:dialog>
			</div>
		</h:body>
	</ui:define>
</ui:composition>
