<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">

		<h:head>
			<title>Add Course</title>
		</h:head>

		<style type="text/css">
.ui-row-editor .ui-row-editor-pencil {
	margin-left: 8px;
}

.logo {
	width: 5%
}

.detail {
	width: 95%;
	padding-left: 25px;
}

.detail td {
	font-size: 24px;
}

.ui-datascroller .ui-datascroller-item {
	border-bottom: 1px solid #A8A8A8;
	padding: 5px 10px;
	/* with the exported variables from Nova and Luna Themes*/
	border-bottom-color: var(- -input-border-color, #A8A8A8);
}

.ui-grid-row .ui-grid-col-2, .ui-grid-row .ui-grid-col-10 {
	padding: 0.5em 0;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

.ui-orderlist .ui-grid-row .ui-grid-col-2, .ui-orderlist .ui-grid-row .ui-grid-col-10
	{
	padding: 0;
}
</style>
		<h:body>
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-1" />
				<div class="ui-g-12 ui-md-12 ui-lg-5">
					<h:form id="parentPatient_info" enctype="multipart/form-data">
						<p:dataGrid var="teacher" columns="1"
							value="#{teacherInfoController.userDetailsDTO}" layout="grid"
							style="background: none; border: none;">



							<p:commandButton oncomplete="PF('teacherProfileFtoDg').show()"
								style=" float: left; margin:-1% 0% 1% -1%" icon="fa fa-edit"
								value="Edit" update=":dgParentPetaintProfile">
								<f:setPropertyActionListener value="#{teacher}"
									target="#{teacherInfoController.userDetailsDTO}" />
							</p:commandButton>


							<center>
								<h:panelGrid columns="1">
									<img src="#{teacher.logoWithBase64}" height="180" width="180"
										style="border-radius: 100px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
									<h:panelGrid style="margin-left:5%; margin-top:-1%" columns="2"
										styleClass="ui-g-12 ui-md-12 ui-lg-12">
										<p:outputLabel value="Name :" />
										<h:outputLabel value=" #{teacher.teacher.teacherName}" />

										<p:outputLabel value="Department :" />
										<h:outputLabel value="#{teacher.teacher.department.name}" />

										<p:outputLabel value="Designation :" />
										<h:outputLabel value="	 #{teacher.teacher.designation.name}" />

										<p:outputLabel value="Reg. ID :" />
										<h:outputLabel value="#{teacher.teacher.registrationId}" />

										<p:outputLabel value="Qualification :" />
										<h:outputLabel value="#{teacher.teacher.qualification}" />

										<p:outputLabel value="Phone Number :" />
										<h:outputLabel value=" #{teacher.teacher.contactNumber}" />

										<p:outputLabel value="Email :" />
										<h:outputLabel value="#{teacher.teacher.email}" />

										<p:outputLabel value="Gender :" />
										<h:outputLabel value=" #{teacher.teacher.gender}" />

										<p:outputLabel value="Address :" />
										<h:outputLabel value="	 #{teacher.teacher.address}" />
									</h:panelGrid>
								</h:panelGrid>
							</center>
						</p:dataGrid>
					</h:form>

					<p:dialog widgetVar="teacherProfileFtoDg"
						header="Update student info" draggable="true" resizable="true"
						closeOnEscape="true" appendTo="@(body)" modal="true">
						<h:form id="dgParentPetaintProfile" enctype="multipart/form-data">
							<h:panelGrid columns="2" styleClass="ui-g-12 ui-md-12 ui-lg-12">

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Name: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{teacherInfoController.userDetailsDTO.teacher.teacherName}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Phone Number: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{teacherInfoController.userDetailsDTO.teacher.contactNumber}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Email: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{teacherInfoController.userDetailsDTO.teacher.email}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Address: " />
									<p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-12"
										value="#{teacherInfoController.userDetailsDTO.teacher.address}" />
								</h:panelGrid>

								<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel value="Image: " />
									<p:fileUpload value="#{teacherInfoController.studentImage}"
										skinSimple="true" mode="simple" />
								</h:panelGrid>

								<center>
									<p:commandButton value="Update" ajax="false"
										action="#{studentInfoController.updateStudentInfo}"
										update=":dgParentPetaintProfile" />

								</center>
							</h:panelGrid>
						</h:form>
					</p:dialog>
				</div>
			</div>
		</h:body>

	</ui:define>
</ui:composition>
