<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">


	<ui:define name="content">
		<h:body>
			<h:form id="show_folder" enctype="multipart/form-data">
				<p:commandButton value="Upload file" update="show_folder"
					style="margin-bottom: 5px;"
					oncomplete="PF('addTopicDialog').show()" />
				<p:dataScroller value="#{teacherInfoController.topicDTOs}"
					var="topic" chunkSize="10">
					<h:panelGrid columns="2" style="width:80%"
						columnClasses="logo,detail">
						<p:outputPanel>
							<h:panelGrid columns="2" cellpadding="5">
								
								<p:media value="#{topic.streamedContent}" player="pdf"
									width="600px" height="300px" />
								
							</h:panelGrid>
						</p:outputPanel>
					</h:panelGrid>
				</p:dataScroller>


			</h:form>

			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<p:dialog widgetVar="addTopicDialog" header="New folder" width="30%"
					height="50%" draggable="true" resizable="true" closeOnEscape="true"
					appendTo="@(body)" modal="true">
					<h:form id="add_Topicr" enctype="multipart/form-data">
						<h:panelGrid columns="1" styleClass="ui-g-12 ui-md-12 ui-lg-12">

							<p:inputText rendered="true"
								styleClass="ui-g-12 ui-md-12 ui-lg-12"
								value="#{teacherInfoController.topicDTO.topicTitle}"
								placeholder="Title.." />

							<p:fileUpload value="#{teacherInfoController.topicPdf}"
								label="Topic" skinSimple="true" mode="simple" />

						</h:panelGrid>
						<center>
							<p:commandButton style=" margin-right:1%" ajax="false"
								update="add_Topicr :show_folder" value="Save"
								action="#{teacherInfoController.addTopicByTeacher}" />
						</center>
					</h:form>
				</p:dialog>
			</div>
		</h:body>
	</ui:define>
</ui:composition>
